* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none !important;
  box-sizing: border-box !important;
}

.collapsed_sidebar {
  width: 65px;
}
.expanded_sidebar {
  width: 300px;
}
.sidebar_size {
  min-height: 100vh;
}
.profile_image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.profile_image_collapsed {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.hover:hover {
  background-color: #00000020;
}
.link_hover:hover {
  background-color: #00000020;
}
.link_hover:hover svg {
  color: #6c63ff; /* Purple icon color on hover */
}
.link_hover:hover::before {
  content: "";
  width: 6px;
  height: 100%;
  background-color: #6c63ff; /* Purple border */
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  left: -12px;
  top: 0;
}
.home_link {
  width: 35px;
  height: 35px;
  border-radius: 4px;
  background-color: #00000010;
  border: 1px solid #00000020;
}
.icon_wrapper svg {
  width: 20px;
  height: 20px;
}
.menu-item {
  position: relative;
}

.custom-tooltip {
  top: 50%;
  left: 110%; /* Adjust based on placement */
  transform: translateY(-50%);
  white-space: nowrap;
  z-index: 1000;
  padding: 4px 8px;
  background-color: #333;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.popup_size {
  width: 250px;
}

.divider_line {
  height: 1px;
  background-color: #00000020;
}
/* .sidebar_scroll {
  height: calc(100vh - 215px);
  overflow-y: auto !important;
} */
.sidebar_scroll::-webkit-scrollbar {
  width: 4px;
}
.sidebar_scroll::-webkit-scrollbar-thumb {
  background-color: #6c63ff;
}
.profile_position {
  left: 100%;
}

.command_position {
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
}
.search_command_position {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.search_command_box{
  width: 24px;
  height: 24px;
  border: 1px solid #00000020;
  background: #00000010;
  border-radius: 4px;
}
.search_position{
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.search_spacing{
  padding-left: 35px;
  padding-right: 70px;
  width: 100%;
}
.arrow_rotate{
  transform: rotate(90deg);
}
.dropdown_arrow{
  transform: rotate(180deg);
}

.dropdown_line{
  left: 17px;
  height: 84%;
  width: 1px;
  top: 0;
  background-color: #00000020;
}

.link_line{
  left: -12px;
  height: 1px;
  width: 14px;
  top: 50%;
  background-color: #00000020;
}
.shadow_dropdown_popup{
  box-shadow: 0px 5px 15px #00000020;
  width: 200px;
  height: 100%;
}
.toggle_sidebar{
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #fff;
  right: -14px;
  top: 20px;
}
@media (max-width: 575.98px) {
  .profile_position {
    left: 12px;
    bottom: 70px !important;
  }
}
